@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary: rgb(105, 187, 105);
  --secondary: lightblue;
  --dark: black;
  --light: white;
}

.content {
  /* max-width: 1250px; */
  margin: auto;
  padding: 0 30px;
  margin-bottom: 30px;
}

.current {
  background-color: var(--primary);
  border-radius: 5px;
}

/* navbar region start */
.mynavbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-evenly;
}

.mynavbar.sticky {
  background: var(--dark);
  padding: 10px 0;
}

.mynavbar .navcontent {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 0px !important;
}

.mynavbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: var(--light);
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
}

.icon {
  color: var(--light);
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  color: var(--light);
}

/* mynavbar region end */

.background {
  background: url("images/background.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* boxes region start */
.box-display {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  margin-top: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 1px 1px lightgray;
  padding: 30px;
}

.box > img {
  width: 100px;
  height: 100px;
  place-self: center;
}

/* boxes region ebd */

/* members region start */
.members-title {
  background: url("images/team-banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding: 70px;
  margin-bottom: 40px;
}

.members-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}

.member {
  justify-self: center;
  align-self: center;
}

.member .member-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.member .span {
  display: none;
  position: absolute;
  margin-left: -149px;
  margin-top: 83px;
}

.member:hover .member-picture {
  filter: blur(2px);
}

.member:hover .span {
  display: inline;
}

.member .span input[type="button"] {
  border-radius: 4px;
  background-color: var(--secondary);
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.member .span input[type="button"]:hover {
  content: "\00bb";
  position: absolute;
  background-color: rgb(130, 206, 231);
  transition: 0.5s;
}

.member .member-name {
  text-align: center;
}

/* members region end */

/* activities region start */
.activities-title {
  background: url("images/activities.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding: 70px;
  margin-bottom: 40px;
}
.activities-display {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 19px;
}
.activity {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.act-img {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.act-img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.act-title {
  text-align: center;
}

.act-button {
  padding: 10px;
  background-color: var(--secondary);
  border: 0px;
  border-radius: 5px;
  width: 34%;
  align-self: center;
}

.act-button:hover {
  background-color: rgb(130, 206, 231);
  transition: 0.5s;
  cursor: pointer;
}

.act-button > a {
  text-decoration: none;
  font-size: medium;
  color: var(--light);
}
/* activities region end */

/* footer region start */
.container {
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}

.row2 {
  display: grid;
  color: white;
}

.col > ul {
  list-style: none;
  padding: 0 10px;
}

.footer {
  background-color: black;
  padding: 70px 0 0 0;
}

.col {
  padding: 0 20px;
}

.site-nav {
  color: white;
  display: block;
  text-decoration: none;
}

.nav-map,
.socials,
.contact {
  justify-self: center;
}

.socials > ul > a {
  text-decoration: none;
  color: white;
}

.socials > ul > a:hover {
  color: var(--secondary);
}

.copyright {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .row {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
  }

  .col {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }
  .contact {
    margin-left: 0;
  }
  .socials {
    margin-left: 0;
  }
}
/* footer region end */

@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
  .activities-display {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}

@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
  .activities-display {
    grid-template-columns: auto;
  }
}

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .activities-display {
    grid-template-columns: auto;
  }

  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }

  .mynavbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: var(--light);
    transition: all 0.3s ease;
  }

  .mynavbar.show .menu-list {
    left: 0%;
    background: var(--dark);
  }

  .mynavbar .menu-list li {
    margin-top: 45px;
  }

  .mynavbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .mynavbar.show .menu-list li a {
    margin-left: 0px;
  }

  .members-list {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 500px) {
  .members-list {
    grid-template-columns: auto;
  }

  .activities-display {
    grid-template-columns: auto;
  }
}

@media (max-width: 380px) {
  .mynavbar .logo a {
    font-size: 27px;
  }
}
